<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Protect Management</span>
  <span class="example-spacer"></span>
  <div class="example-button-container">
    <button mat-fab extended (click)="openDialog()">
      Add product
    </button>
  </div>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
